.highlightedST {
  font-weight: bold;
  text-align: center;
  min-width: 10px;
  color: white;
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
}

.highlightedSB {
  font-weight: bold;
  text-align: center;
  min-width: 10px;
  color: white;
  background: repeating-linear-gradient(
    45deg,
    #6094bc,
    #6094bc 10px,
    #465298 10px,
    #465298 20px
  );
}

.highlightedRP {
  font-weight: bold;
  text-align: center;
  min-width: 10px;
  color: white;
  background: repeating-linear-gradient(
    -45deg,
    #a05d2c,
    #a05d2c 10px,
    #465298 10px,
    #465298 20px
  );
}

.highlightedRR {
  font-weight: bold;
  text-align: center;
  min-width: 10px;
  color: white;
  background: repeating-linear-gradient(
    -45deg,
    #906dbc,
    #906dbc 10px,
    #465298 10px,
    #465298 20px
  );
}
