    <table>
      <tr>
        <td><h4>Author details</h4></td>
        <td>
          <button mat-icon-button color="primary" (click)="event.emit('refresh')">
            <mat-icon>refresh</mat-icon>
          </button>
        </td>
      </tr>
      <tr>
        <td>Youtube ID</td>
        <td>{{summary.authorChannelId}}</td>
      </tr>
      <tr>
        <td>Youtube link</td>
        <td><a [href]="summary.authorChannelId | toChannelLink">{{summary.authorChannelId | toChannelLink}}</a></td>
      </tr>
      <tr>
        <td>Known names</td>
        <td>{{summary.knownNames.join(", ")}}</td>
      </tr>
      <tr>
        <td>Comment count</td>
        <td>{{summary.commentCount}}</td>
      </tr>
      <tr>
        <td>Reply count</td>
        <td>{{summary.replyCount}}</td>
      </tr>
      <tr>
        <td>Like count</td>
        <td>{{summary.likeCount}}</td>
      </tr>
      <tr>
        <td>First seen</td>
        <td>{{summary.firstSeen|defDate}}</td>
      </tr>
      <tr>
        <td>Last seen</td>
        <td>{{summary.lastSeen|defDate}}</td>
      </tr>
      <tr>
        <td colspan="2"><h4>Commented channels ({{summary.commentedChannels.length}})</h4></td>
      </tr>
      <tr *ngFor="let c of summary.commentedChannels">
        <td><a [href]="c.channelId | toChannelLink">{{c.channelId}}</a></td>
        <td>{{c.title}}</td>
      </tr>
    </table>

<table>
  <tr>
    <td colspan="2"><h4>Commented videos ({{summary.commentedVideos.length}})</h4></td>
    <td colspan="10" style="text-align:center">Top comment intersections</td>
  </tr>
  <tr>
    <td>Title</td>
    <td>Video ID</td>
    <td *ngFor="let ccv of summary.commentIntersections" style="writing-mode: vertical-lr;">
      <a [href]="ccv.authorChannelId | toAuthorDetailsLink">{{ccv.authorText}}</a>
    </td>
  </tr>
  <tr *ngFor="let v of summary.commentedVideos">
    <td>{{v.title}}</td>
    <td><a [href]="v.videoId | toVideoLink">{{v.videoId}}</a></td>
    <td *ngFor="let ccv of summary.commentIntersections"
        [class.highlightedST]="ccv.sameThreadPosterVideos?.includes(v.videoId)"
        [class.highlightedRP]="ccv.repPosterVideos?.includes(v.videoId)"
        [class.highlightedRR]="ccv.repRecipientVideos?.includes(v.videoId)">
      {{(ccv.sameThreadPosterVideos?.includes(v.videoId) ? 'C' : '') +
    (ccv.repPosterVideos?.includes(v.videoId) ? 'R' : '') +
    (ccv.repRecipientVideos?.includes(v.videoId) ? 'r' : '')}}
    </td>
  </tr>
</table>
<table>
  <tr>
    <td colspan="2"><h4>Legend</h4></td>
  </tr>
  <tr>
    <td class="highlightedST">C</td>
    <td>commented on the same video as <b>{{summary.authorText}}</b></td>
  </tr>
  <tr>
    <td class="highlightedRP">R</td>
    <td>replied to <b>{{summary.authorText}}</b></td>
  </tr>
  <tr>
    <td class="highlightedRR">r</td>
    <td>got a reply from <b>{{summary.authorText}}</b></td>
  </tr>
</table>
