<div class="spinner-container" *ngIf="dataSource.loading$ | async">
  <mat-spinner></mat-spinner>
</div>

<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-items="items">
    <a *ngFor="let item of items" mat-menu-item [href]="item.link">
      <mat-icon>{{item.icon}}</mat-icon>
      <span>{{item.name}}</span>
    </a>
  </ng-template>
</mat-menu>

<div class="parent">

  <div class="shadow-container" *ngIf="!standalone">
  </div>

  <div class="corner-menu" *ngIf="!standalone">
    <app-corner-menu></app-corner-menu>
  </div>

  <div class="header" *ngIf="!isSearchOn">
    <button mat-icon-button style="float: right" color="primary" (click)="isSearchOn=true">
      <mat-icon>search</mat-icon>
    </button>
    <div class="header-title">{{tableTitle}}</div>
  </div>

  <div [ngClass]="standalone?'wide-search-container':'search-container'"
       [style.visibility]="isSearchOn ? 'visible' : 'hidden'">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput type="text" #input>
      <button mat-icon-button matSuffix (click)="hideSearchBar()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="content">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container *ngFor="let column of columnsSpec" [matColumnDef]="column.property">
        <mat-header-cell [ngClass]="column.class" *matHeaderCellDef
                         [mat-sort-header]="column.sortProperty?column.sortProperty:column.property"
                         [disabled]="column.sortDisabled">{{column.title}}</mat-header-cell>
        <mat-cell [ngClass]="column.class" *matCellDef="let element">
          <app-basic-cell [ctxMenu]="contextMenu" [spec]="column" [el]="element"></app-basic-cell>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>

  <div class="footer">
    <mat-paginator [length]="(dataSource.context$|async)?.totalElements"
                   [pageSize]="(dataSource.context$|async)?.size"
                   [pageIndex]="(dataSource.context$|async)?.number"
                   [pageSizeOptions]="[5, 10, 100, 1000]" showFirstLastButtons></mat-paginator>
  </div>

</div>
