<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openDialog()">
    <mat-icon>add_to_queue</mat-icon>
    <span>Add a channel</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item routerLink="/channels">
    <mat-icon>ondemand_video</mat-icon>
    <span>Channels</span>
  </button>
  <button mat-menu-item routerLink="/videos">
    <mat-icon>smart_display</mat-icon>
    <span>Videos</span>
  </button>
  <button mat-menu-item routerLink="/comments">
    <mat-icon>forum</mat-icon>
    <span>Comments</span>
  </button>
</mat-menu>
<button mat-icon-button color="primary" [matMenuTriggerFor]="menu" #menuTrigger>
  <mat-icon>menu</mat-icon>
</button>
