<div class="spinner-container" *ngIf="showSpinner">
  <mat-spinner></mat-spinner>
</div>

<div class="parent">

  <div class="shadow-container">
  </div>

  <div class="corner-menu">
    <app-corner-menu></app-corner-menu>
  </div>

  <div class="header">
    <div class="header-title">{{header}}</div>
  </div>

  <div *ngIf="summary" class="content">
    <mat-tab-group>
      <mat-tab label="Summary">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{summary.video.title}}</mat-card-title>
            <mat-card-subtitle>{{summary.video.videoId}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <table>
              <tr>
                <td><h4>Video details</h4></td>
              </tr>
              <tr>
                <td>Title</td>
                <td>{{summary.video.title}}</td>
              </tr>
              <tr>
                <td>Youtube Id</td>
                <td>{{summary.video.videoId}}</td>
              </tr>
              <tr>
                <td>Youtube channel Id</td>
                <td>{{summary.video.channelId}}</td>
              </tr>
              <tr>
                <td>Youtube link</td>
                <td><a [href]="link">{{link}}</a></td>
              </tr>
              <tr>
                <td>Published</td>
                <td>{{summary.video.publishedDate | date:'dd/MM/yyyy HH:mm:ss'}}</td>
              </tr>
              <tr>
                <td>View count</td>
                <td>{{summary.video.viewCountText}}</td>
              </tr>
              <tr>
                <td>Comment count</td>
                <td>{{summary.totalComments}} of {{summary.video.totalCommentCount}}</td>
              </tr>
              <tr>
                <td><h4>Internal timestamps</h4></td>
              </tr>
              <tr>
                <td>Created</td>
                <td>{{summary.video.createdDate| date:'dd/MM/yyyy HH:mm:ss'}}</td>
              </tr>
              <tr>
                <td>Updated</td>
                <td>{{summary.video.lastUpdatedDate| date:'dd/MM/yyyy HH:mm:ss'}}</td>
              </tr>
              <tr>
                <td><h4>Internal status</h4></td>
              </tr>
              <tr>
                <td>Short code</td>
                <td>{{summary.video.contextStatus.statusCode}}</td>
              </tr>
              <tr>
                <td>Timestamp</td>
                <td>{{summary.video.contextStatus.statusTimestamp | date:'dd/MM/yyyy HH:mm:ss'}}</td>
              </tr>
              <tr>
                <td>Message</td>
                <td>{{summary.video.contextStatus.statusMessage}}</td>
              </tr>
            </table>
          </mat-card-content>
        </mat-card>
      </mat-tab>
      <mat-tab label="Comments">
        <app-rich-table [columnsSpec]="columnsSpec"
                        [tableTitle]="''"
                        [service]="service"
                        [standalone]="true"
                        [staticQuery]="staticQuery"></app-rich-table>
      </mat-tab>
      <mat-tab label="Log">
        <table>
          <tr>
            <th>Timestamp</th>
            <th>Status</th>
            <th>Message</th>
          </tr>
          <tr *ngFor="let log of summary.log">
            <td>{{log.contextStatus.statusTimestamp | date:'dd/MM/yyyy HH:mm:ss'}}</td>
            <td>{{log.contextStatus.statusCode}}</td>
            <td>{{log.contextStatus.statusMessage}}</td>
          </tr>
        </table>
      </mat-tab>
      <mat-tab label="Operations">
        <table>
          <tr>
            <th>Description</th>
            <th>Confirm</th>
          </tr>
          <tr>
            <td>Delete the video</td>
            <td>
              <button mat-flat-button color="warn" [disabled]="deleteButtonDisabled" (click)="deleteChannel()">
                Delete
              </button>
            </td>
          </tr>
        </table>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="footer">
  </div>

</div>
