<div class="spinner-container" *ngIf="showSpinner">
  <mat-spinner></mat-spinner>
</div>

<div class="parent">

  <div class="shadow-container">
  </div>

  <div class="corner-menu">
    <app-corner-menu></app-corner-menu>
  </div>

  <div class="header">
    <div class="header-title">{{header}}</div>
  </div>

  <div *ngIf="summary" class="content">
    <mat-tab-group>
      <mat-tab label="Summary">
        <app-video-card [summary]="summary"></app-video-card>
      </mat-tab>
      <mat-tab label="Comments">
        <ng-template matTabContent>
          <app-rich-table [columnsSpec]="columnsSpec"
                          [tableTitle]="''"
                          [service]="service"
                          [standalone]="true"
                          [staticQuery]="staticQuery"></app-rich-table>
        </ng-template>
      </mat-tab>
      <mat-tab label="Log">
        <app-worker-log-table [log]="summary.log"></app-worker-log-table>
      </mat-tab>
      <mat-tab label="Operations">
        <table>
          <tr>
            <th>Description</th>
            <th>Confirm</th>
          </tr>
          <tr>
            <td>Delete the video</td>
            <td>
              <button mat-flat-button color="warn" [disabled]="deleteButtonDisabled" (click)="deleteChannel()">
                Delete
              </button>
            </td>
          </tr>
        </table>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="footer">
  </div>

</div>
