html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

table, td, th {
  border: 1px solid silver;
  border-collapse: collapse;
  padding: 4px 8px;
}

table {
  margin: 8px;
}

.f-small {
  font-size: 12px;
}

.a-center {
  justify-content: center;
  margin: 0 8px;
}

.a-left {
  justify-content: flex-start;
  margin: 0 8px;
}

.a-right {
  justify-content: flex-end;
  margin: 0 8px;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.flex4 {
  flex: 4;
}

.flex8 {
  flex: 8;
}

.nowrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
