<table>
  <tr>
    <td><h4>Channel details</h4></td>
    <td>
      <button mat-icon-button color="primary" (click)="event.emit('refresh')">
        <mat-icon>refresh</mat-icon>
      </button>
    </td>
  </tr>
  <tr>
    <td>Title</td>
    <td>{{summary.channel.title}}</td>
  </tr>
  <tr>
    <td>Youtube ID</td>
    <td>{{summary.channel.channelId}}</td>
  </tr>
  <tr>
    <td>Youtube vanity name</td>
    <td>{{summary.channel.channelVanityName}}</td>
  </tr>
  <tr>
    <td>Youtube link</td>
    <td><a [href]="summary.channel.channelId | toChannelLink">{{summary.channel.channelId | toChannelLink}}</a></td>
  </tr>
  <tr>
    <td>Subscriber count</td>
    <td>{{summary.channel.subscriberCount}}</td>
  </tr>
  <tr>
    <td>Video count</td>
    <td>{{summary.channel.videoCount}}</td>
  </tr>
  <tr>
    <td>Fetched video count</td>
    <td>{{summary.channel.doneVideoCount}} of {{summary.channel.fetchedVideoCount}}</td>
  </tr>
  <tr>
    <td>Comment count</td>
    <td>{{summary.totalComments}}</td>
  </tr>
  <tr>
    <td><h4>Internal timestamps</h4></td>
  </tr>
  <tr>
    <td>Created</td>
    <td>{{summary.channel.createdDate|defDate}}</td>
  </tr>
  <tr>
    <td>Updated</td>
    <td>{{summary.channel.lastUpdatedDate|defDate}}</td>
  </tr>
  <tr>
    <td><h4>Internal status</h4></td>
  </tr>
  <tr>
    <td>Short code</td>
    <td>{{summary.channel.contextStatus.statusCode}}</td>
  </tr>
  <tr>
    <td>Timestamp</td>
    <td>{{summary.channel.contextStatus.statusTimestamp|defDate}}</td>
  </tr>
  <tr>
    <td>Message</td>
    <td>{{summary.channel.contextStatus.statusMessage}}</td>
  </tr>
</table>
